
/* css for carousel */
.object_1 {

    margin-top: 100px;
    /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%); */
     height: 500px; 
     width: 95%;
     margin-left: 27px;
  
    background: rgb(255, 56, 176);
    background: linear-gradient(72deg, rgba(255, 56, 176, 1) 34%, rgba(255, 0, 54, 1) 71%);
  }
  .object_2{
    font-size: 2rem;
    margin-top: 50px;
    letter-spacing: 0.3cap;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  
  
  }