:root {
  /*========== Colors ==========*/
  --first-color: #cf10ff;
  --first-color-light: #da42ff;
  --first-color-lighten: #e46bff;
  --gradient-color: linear-gradient(180deg, #da42ff, #cf10ff);
  --title-color: #671a7e;
  --text-color: #ad64c3;
  --white-color: #f9e5ff;
  --body-color: #4d0d61;

  /*========== Font ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(227, 212, 212);
}

.cardhome_container {
  height: 100vh;
}
.upper_bar {
  width: 95vw;
  height: 9vh;
  box-shadow: 4px 4px 10px #111;
  display: flex;
  z-index: 20;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 4vw;
  padding-top: 2vh;
  position: fixed;
  overflow: hidden;
  background: linear-gradient(90deg, #fff, #cf10ff, #fff);
}
.upper_bar img {
  width: 8rem;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 4vw;
}
.welcome h1 {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
  height: 10px;
}
.welcome h3 {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}
.nav_container_card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.vertical_nav {
  background: linear-gradient(#fff, #cf10ff);
  width: 12vw;
  height: 76vh;
  border-top: none;
  padding: 4vh;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: start;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Arvo", serif;
  font-weight: 400;
  border-radius: 50px 50px 0 0;
  font-style: normal;
  gap: 6vh;
  box-shadow: 4px 4px 10px #671a7e, inset 2px 2px 5px #671a7e;
}
.logout {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 12vw;
  height: 6vh;
  position: relative;
  border-radius: 15px;
  background: #fff;
  text-align: center;
  font-family: "Arvo", serif;
  font-weight: 700;
  font-size: 2.5vh;
  font-style: normal;
  border: none;
  cursor: pointer;
  box-shadow: inset 1px 1px 3px #111;
}
.logout div {
  background: #d550f7;
  border-radius: 11px;
  height: 4.5vh;
  width: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5px;
  transition: 0.5s;
}
.logout:hover div {
  width: 11.1vw;
  z-index: 10;
}
.logout_icon {
  color: #000;
  font-weight: 900;
}
.logout p {
  translate: 2vh;
  opacity: 1;
  transition: 0.5s;
}
.logout:hover p {
  opacity: 0;
}
.nav_content {
  padding: 0 3vh;
  width: 100%;
  display: flex;
  margin: 0 -3vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2vh;
  transition: 0.5s;
}
.nav_content .widthfull {
  width: 100%;
}

.nav_content .highlight {
  transform: translateX(30px);
  box-shadow: inset 2px 2px 5px #222;
  border-radius: 20px 0 0 20px;
  background: linear-gradient(90deg, #d650f7be, #cf10ffb5);
  color: #fff;
  padding: 0.2vh;
  height: 5vh;
  cursor: pointer;
  width: 100%;
  transition: 0.5s;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.2vh;
  font-family: "Arvo", serif;
  font-weight: 600;
  font-style: normal;
}
.nav_content .buttons {
  padding: 0.2vh;
  height: 5vh;
  cursor: pointer;
  width: 100%;
  transition: 0.5s;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  font-size: 2.2vh;
  font-family: "Arvo", serif;
  font-weight: 600;
  font-style: normal;
  color: #111;
}
button span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_content .vertical_nav_icon {
  transition: 0.5s;
  padding: 0 1vh;
}
.nav_content .buttons:hover .vertical_nav_icon {
  color: #cf10ff;
}
.nav_content .buttons:hover {
  scale: 1.1;
  color: #cf10ff;
}
.document_image {
  width: 30vh;
}

/* document css */
.document_container {
  position: relative;
  padding: 2vh;
  left: 20vw;
  top: 18vh;
  width: 70rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 2px solid black;
  gap: 2vw;
  justify-content: space-evenly;
}
.doc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 20vh;
  border-radius: 25px;
}
.d1 {
  transition: 0.5s;
  box-shadow: 5px 5px 15px blue;
}
.d1:hover {
  background: #4949ff;
}

.d2 {
  box-shadow: 5px 5px 15px purple;
}
.d3 {
  box-shadow: 5px 5px 15px orange;
}
.d4 {
  box-shadow: 5px 5px 15px green;
}
